	* {
		background-color: white;
	}

	canvas {
		background-color: white;
		border: 3px solid blue;
	}

	#newGame {
		background-color: white;
		color: black;
		font-family: Arial, sans-serif;
		border: 3px solid red;
		width: 100px;
		height: 50px;
	}